@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-aspect-ratio: 8/9) {
  .aspect-ratio-adjust {
    width: 100% !important;
  }
}


@media (min-aspect-ratio: 12/9) {
  .aspect-ratio-adjust {
    width: 75% !important;
  }
}


@media (min-aspect-ratio: 16/9) {
  .aspect-ratio-adjust {
    width: 50% !important;
  }
}

.border-winning-team {
  border: 2px solid #4CAF50; /* Green border for the winning team */
}

.border-losing-team {
  border: 2px dashed #FF5722; /* Orange dashed border for the losing team */
}
