@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-aspect-ratio: 8/9) {
  .aspect-ratio-adjust {
    width: 100% !important;
  }
}


@media (min-aspect-ratio: 12/9) {
  .aspect-ratio-adjust {
    width: 75% !important;
  }
}


@media (min-aspect-ratio: 16/9) {
  .aspect-ratio-adjust {
    width: 50% !important;
  }
}

@keyframes scrollLines {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.pattern {
    background: repeating-linear-gradient(
        -45deg,                  /* Angle for diagonal lines */
        transparent,             /* Start transparent */
        transparent,         /* First transparent segment */
        rgba(0, 0, 0, 0.2) 6.25%,   /* Line color with slight opacity */
        rgba(0, 0, 0, 0.2) 12.5%   /* Line width */
    );
    background-size: 200% 200%;
    animation: scrollLines 10s linear infinite;
}

.gold-text {
    background: url('https://i.imgur.com/t7LNgUu.png') repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-blend-mode: difference;
}
